In [3]:
import pandas as pd

# Sample DataFrame
data = {
    "Account_Balance": [5000, 15000, 10000, 7500, 12000, 8000, 3000, 9500, 20000, 4000],
    "Transaction_Amount": [200, 500, 300, 400, 250, 600, 150, 100, 450, 50],
    "Branch": ["A", "A", "B", "B", "A", "C", "C", "B", "C", "A"]
}

df = pd.DataFrame(data)

# Sort by Account_Balance in descending order and display top 10 rows
sorted_df = df.sort_values(by="Account_Balance", ascending=False)
print(sorted_df.head(10))

   Account_Balance  Transaction_Amount Branch
8            20000                 450      C
1            15000                 500      A
4            12000                 250      A
2            10000                 300      B
7             9500                 100      B
5             8000                 600      C
3             7500                 400      B
0             5000                 200      A
9             4000                  50      A
6             3000                 150      C

In [4]:
df["Rank"] = df.groupby("Branch")["Transaction_Amount"].rank(method="dense", ascending=False)
print(df)

   Account_Balance  Transaction_Amount Branch  Rank
0             5000                 200      A   3.0
1            15000                 500      A   1.0
2            10000                 300      B   2.0
3             7500                 400      B   1.0
4            12000                 250      A   2.0
5             8000                 600      C   1.0
6             3000                 150      C   3.0
7             9500                 100      B   3.0
8            20000                 450      C   2.0
9             4000                  50      A   4.0