# Conventional if-else

In [1]:
num=6
if num%2 == 0:
    print("even")
else:
    print("odd")

even

In [2]:
num=6
print("even") if num%2 == 0 else print("odd")

even

In [4]:
x = 10
result = "Positive" if x > 0 else "Negative" 
print(result)

Positive

In [6]:
age = 18
category = "Adult" if age >= 18 else "Negative"
print(category)

Adult

In [7]:
##nested if-else in one line
num=int(input("Enter a number: "))
result = "Positive" if num > 0 else ("Negative" if num < 0 else "Zero")
print(result)

Enter a number: 18
Positive

In [8]:
##nested if-else in one line
num=int(input("Enter a number: "))
result = "Positive" if num > 0 else ("Negative" if num < 0 else "Zero")
print(result)

Enter a number: -27
Negative

# List Comprehension

In [9]:
L=[1,9,2,10,56,89]
[2*x for x in L]

[2, 18, 4, 20, 112, 178]

In [10]:
L=[1,9,2,10,56,89]
[2+x for x in L]

[3, 11, 4, 12, 58, 91]

In [11]:
#print even numbers
L=[1,9,2,10,56,89]
[x for x in L if x%2 == 0]

[2, 10, 56]

In [16]:
L=[1,9,2,10,56,27]
[x for x in L if x%3 == 0]

[9, 27]

In [23]:
#print updated salaries
#condition is give 20% hike for salaries less than 50000
#salaries <= 50000
salary = [40000,60000,80000,45000]
[(x*1.2 if x <=50000 else x) for x in salary]

[48000.0, 60000, 80000, 54000.0]

In [24]:
#Dictionary comprehension
d1 = {'Ram':[70,71,98,100], 'John':[56,98,67,65]}
d1

{'Ram': [70, 71, 98, 100], 'John': [56, 98, 67, 65]}

In [25]:
##syntax
#{k: ? for k,v in d1:items()}

In [26]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'John': 71.5}

In [13]:
#Define function (resuable)
def mean_variable(given_list):
    total = sum(given_list)
    average_value = total/len(given_list)
    return average_value

In [5]:
def greet(name):
    print(f"Good Morning {name}!")

In [10]:
greet("vaishnavi")

Good Morning vaishnavi!

In [15]:
def avg_value(*n):
    l = len(n)
    average=sum(n)/l
    return average

In [16]:
avg_value(10,20,30,40,500)

120.0